/* 
 * Table of Contents: 
 *
 * 
 * 1. Inits
 * 2. Home Page
 * 3. Menu
 * 4. About
 * 5. Resume 
 * 6. Portfolio
 * 7. Contact
*/

/*
====================================================
      1. Inits
====================================================
*/

body {
  font-family: 'Roboto', Arial, Verdana;
  font-size: 16px;
  text-align: center;
  color: #333;
}

a,
a:hover,
a:active {
  display: inline-block;
  color: #333;
}

input:focus, 
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.clear {
  clear: both;
}

#wrapper {
  opacity: 0;
}


i.fa.fa-book.color, 
i.fa.fa-suitcase.color, 
i.fa.fa-bolt.color {
  color: #00b4ff;
  border-bottom: 3px solid #00b4ff;
  font-size: 2em;
}
/*
=====================================================
      2. Home Page
=====================================================
*/

.header {
  margin-top: 12%;
}

.user_picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.jumbotron {
  background: url('../img/bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #dfdce1;
  height: 800px;
}

.jumbotron h1 {
  font-size: 3em;
  font-weight: 100;
}

.jumbotron p {
  font-size: 1.1em;
}

.scroll_to_down a {
  background: rgba(250, 250, 250, 0.3);
  border-radius: 50%;
  display: block;
  height: 90px;
  width: 90px;
  color: #fff;
  margin: 3% auto 0 auto;
}

.fa-angle-down {
  margin-top: 3.3em;
  margin-top: 29%;
  font-size: 2em;
  color: rgba(250, 250, 250, 0.6);
}

.btn {
  border-radius: 0;
  padding: 10px 15px;
  border: 2px solid #666666;
  background: transparent;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: #333333;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.about_user-cv {
margin-top: 2em;
}

/*
====================================================
      3. Menu
====================================================
*/
.navbar-default {
  background: #fff;
  padding: 2em 0;
  border-top: 0;
  border-bottom: 1px solid #e7e7e7;
  margin-top: -0.8em;
}

.navbar-brand {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
.navbar >.container-fluid .navbar-brand {
  margin-left: 1em;
}

.navbar-default .navbar-brand {
  color: #333;
}

.navbar li a{
  color: #dedede;
  font-family: 'Raleway';
  letter-spacing: 2px;
  font-size: 1em;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

/*
==========================================================
      4. About
==========================================================
*/
.page_title {
  margin: 4em 0;
}
.page_title span {
  font-weight: 700;
  color: #555;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px;
  border: 3px solid #555555;
  display: inline-block;
}

.about_user_title {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 1em 0;
  background: #ededed;
  margin-bottom: 1.5em;
}

.about_user_description p {
  font-size: 1.1em;
  margin: 0 1.5em;
  line-height: 1.8;
}

.about_user_grid {
  position: relative;
  left: 7%;
  width: 33%;
}

.about_user_social {
  border: 1px solid #eee;
  padding: 2.5em 0;
}

.about_user_social .icon {
  font-size: 3em;
  color: #555;
}

.about_user_social .icon:hover{
  color: #00b4ff;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.services {
  margin-top: 5em;
  margin-bottom: 5em;
}
.service_title {
  font-weight: bold;
  margin-top: 1em;
  font-size: 1.1em;
  color: #333;
}

.services_item > span {
  font-size: 60px;
  border-radius: 150px;
  display: inline-block;
  width: 110px;
  height: 110px;
  color: #555555;
  border: 2px solid #555555;
  line-height: 110px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.services_item > span:hover {
  color: #00b4ff;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform: rotate(360deg);
  }

.description, 
.title {
  padding: 0 4em;
  margin-top: 1em;
}

/*
================================================================
      5. Resume
================================================================
*/
.col-md-12.page_title.resume, 
.col-md-12.page_title.portfolio {
  background: url('../img/bg-resume.png');
  padding: 7em 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume > span {
  color: #fff;
  border: 3px solid #fff;
}


.resume .section_title span {
  color: #555;
  font-size: 2em;
}

.section_title.resume {
  margin-bottom: 4em;
}

.row.tutorials-row {
  margin: 4rem 0px;
}
.education, .employment {
  height: 12em;
  border: 1px solid #ededed;
}

.employment {
  height: 15em;
}

.date {
  font-size: 1em;
  color: #555;
  font-weight: bold;
  background: #eee;
  margin-top .8rem;
}

.title, 
.subtitle {
  font-weight: bold;
  color: #444;
}

.subtitle {
  padding: 1rem 0;
  margin-bottom: -3rem;
}

.title {
  background: #00b4ff;
  color: #fff;
}

.body {
  margin-top: 2em;
}

.section_title.resume {
  margin: 4em 0;
}

.title.skill {
  background: transparent;
  color: #444;
}

.chart {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.percent {
  display: inline-block;
  line-height: 130px;
  font-size: 45px;
  z-index: 2;
  margin-left: 5px;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.section_title.skills {
  font-weight: bold;
  font-size: 2em;
}


/*
===========================================================
      6. Portfolio 
===========================================================
*/

.col-md-12.page_title.portfolio {
  background: url('../img/bg-portfolio.png');
  background-size: cover;
}

.portfolio span {
  color: #fff;
  border: 3px solid #fff;
}

.active {
  background: #06A7F3;
}

.btn.active {
  border: 2px solid transparent;
  box-shadow: none;
  color: #fff;
}

.portfolio_items .mix {
  padding: 0;
  display: none;
  position: relative;
  overflow: hidden;
}

.thumbnail>img, 
.thumbnail a>img {
  height: 370px;
}

.thumbnail {
  height: 40em;
}

.btn-primary:hover{
  background-color: #06A7F3;
  border:0;
}

a.btn.btn-primary {
  padding: 13px 35px;
}
/*
===========================================================
      7. Contact
===========================================================
*/

.contact {
  background: #FCF8F8;
  padding: 3em 0;
}

.col-md-12.page-title.contact-container {
  background: url('../img/bg-contact.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3em;
  height: 40em;
  width: 100%;
}

.img-circle {
  border: 5px solid #fff;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 0;
}

.img-circle > i {
  font-size: 3em;
  color: #fff;
  margin-top: 0.5em;
}

.contact_row {
  margin: 8em 0;
}

.contact_content,
.contact_container {
  text-align: left;
  margin-top: 1.5em;
  margin-left: 7em;
}

h2 {
  color: #fff;
  margin-top: 4em;
}

.contact_title,
.contact_description,
.contact_description a{
  background: transparent;
  color: #fff;
  display: inline-block;
  position: relative;
  width: 100%;
}

.social_icons a > i {
  font-size: 2.5em;
  color: #fff;
  margin: 1em 0.6em;
}

.social_icons a > i:hover {
  color: #00b4ff;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

footer {
  height: 10em;
  background: #282a26;
  color: #fff;
  margin-top: -1.3em;
}

footer > h3 {
  font-size: 1.1em;
  padding: 3em 0
}

/*
=========================================================
      8. Responsive 
=========================================================
*/

@media only screen and (max-width: 1024px){
  .about_user_social {
    width: 30%;
    display: inline-block;
    padding: 0.5em 0em;
  }

  .about_user_grid {
    margin-top: 3em;
  }

  .description, .title {
    padding: 2em 4em;
  }

  .contact_content, .contact_container {
    margin-left: 1em;
  }

  .portfolio_item.mix.col-md-4.mix_all {
    display: inline-block;
    width: 32%;
    height: 44em;
    margin: 0 0.2em;
  }

  .thumbnail {
    height: 43em;
  }

  .img-circle {
    margin: 0 0 0.4em 0;
  }

  .education, .employment {
    height: 15em;
  }

  .education-col {
    width: 24%;
    display: inline-block;
  }
  .col-md-4.contact_col {
    display: inline-block;
    width: 30%;
    margin-top: 7em;
  }

  h2 {
    margin-top: 1em;
  }

  .social_icons a > i {
    font-size: 2.5em;
    color: #fff;
    margin: 1em 0.3em;
  }
}

@media only screen and (max-width: 991px){
  /*.about_user_social {
    background: green;
    width: 30%;
  }*/
  .col-md-6.about_user_grid {
    width: 90%;
  }

  h2 {
    margin-top: 4em;
  }
}

@media only screen and (max-width: 768px){
  /*.about_user_social {
    background: red;
  }*/
  .portfolio_item.mix.col-md-4.mix_all {
    display: inline-block;
    width: 100%;
  }
  .col-md-4.contact_col {
    display: inline-block;
    width: 100%;
  }
  .education-col {
    width: 38%;
  }

  .contact {
    padding:0;
  }

  .col-md-12.page_title.contact {
    margin: 0;
  }

  .col-md-4.contact_col {
    display: inline-block;
    width: 50%;
    margin-top: 2em;
  }
  h2 {
    margin-top: 1em;
  }

  .col-md-12.page-title.contact-container {
    /* margin-top: -3em; */
    height: 57em;
    width: 100%;
  }
}

@media only screen and (max-width: 400px){
  /*.about_user_social {
    background: cyan;
  }*/
  footer {
    height: 14em;
  }
  .body {
    margin-top: 1em;
  }

  .education, .employment {
    height: 21em;
  }

  .education-col {
    width: 45%;
    display: inline-block;
  }
  .contact_row {
    margin: 0;
  }

  .portfolio_item.mix.col-md-4.mix_all {
    display: inline-block;
    width: 100%;
  }
  .contact_content, .contact_container {
    margin-left: 4em;
  }

  .img-circle {
    /* margin: 0 17em 0.4em 0; */
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 3em;
  }

  .col-md-12.page-title.contact-container {
    height: 70em;
    margin-top: 2em;
  }
  .social_icons > a {
    margin-top: -1em;
  }
}

@media only screen and (max-width: 320px){
  /*.about_user_social {
    background: yellow;
  }*/
  .about_user_title {
    font-size: 40px;
  }

  .education-col {
    width: 47%;
  }
  .portfolio_item.mix.col-md-4.mix_all {
    width: 100%;
  }

  .contact_row {
    margin: 0em 0;
  }

  .col-md-4.contact_col {
    /* display: inline-block; */
    width: 50%;
    margin: 12% 17%;
    text-align: center;
  }

  .contact_content, .contact_container {
    margin-left: 1em;
    margin-top: 1em;
    text-align: center;
  }

  .col-md-12.page-title.contact-container {
    margin-top: 0;
    height: 80em;
    width: 100%;
  }

  footer {
    display: none;
  }
}